#hero {
  height: 800px;
  background-image: url("images/places/ocean.jpg");
  background-position: center;
  background-size:cover ;
  }
#hero-content {
  width: 900px;
  background-color: rgba(51,47,47,0.8);
  box-shadow: 2px 4px 8px rgb(68,67,67);
  border-radius: 8px;
  text-align: center;
  padding: 50px 0;
  margin: 0 auto;
  position: relative;
  top: 200px;
}
#hero-content h1 {
  color: rgb(245, 243, 160);
  text-transform: uppercase;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
#hero-content p {
  color: white;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 32px;
}
#hero-content a {
  text-decoration: none;
  background-color: rgb(255,251,0);
  padding: 12px 24px;
  color: black;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 2px 4px 8px rgb(68, 67, 67);
}
#hero-content a:hover {
  background-color: rgba(255, 238, 2, 0.911);
}
#highlights {
  padding: 24px;
  background: linear-gradient(0deg, rgb(227,255,253), rgb(202,243,240));
}
.destination img {
  height: 200px;
  width: 100%;
  box-shadow: 2px 4px 8px rgb(69,67,67);
  border-radius: 10px;
  object-fit: cover;
}
.destination {
  margin: 0 20px;
  text-transform: uppercase;
}
#highlights h2{
  text-align: center;
  text-transform: uppercase;
  color: rgb(59,65,64);
  font-size: 25px;
  margin: 24px 0;
}
#Destinations {
  display: flex;
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
  justify-content: center;
}
.destination p {
  text-align: center;
  font-size: 20px;
  color: rgb(109, 108, 108);
  margin: 20px 0;
}
.destination strong {
  color: rgb(0, 255, 187);
}
p {
  text-align: center;
  color: rgb(0,0,0);
  font-weight: 700;
  font-size: 15px;
}